{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1>Edit Item</h1>
    <hr>
    <form method="post" action="{{ url_for('web.edit_item', item_id=item.id) }}">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.description.label }} {{ form.description(size=50, class_="form-control") }}
        {% for error in form.description.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.deadline.label }} {{ form.deadline(class="form-control") }}
        {% for error in form.deadline.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="form-group">
        {{ form.status.label }} {{ form.status(class="form-control") }}
        {% for error in form.status.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
  </div>
{% endblock %}
